extends layout

append content
  #listing
    #what.item
      #hoy
        .text
          h1 Hoy en la <br> Cineteca Nacional
          p
            a(href="https://www.google.com/maps?q=Cineteca+Nacional&sll=19.3609935,-99.1641465&sspn=0.0077738,0.0109864&t=m&cid=0xd073d6fc0bb89912&hq=Cineteca+Nacional&z=16&iwloc=A", target="_blank") Av. México Coyoacán #389
      #map
      .fb-like(data-href="https://cinedf.mx", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")
    each movie in movies
      .movie.item
        a.text(href="/#{movie.id}")
          h1= movie.title
          p: span.time= movie.time
        img.trailer(src=movie.img.path)

append scripts
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  script(src="//maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAN9LADN4SenhFg5IHQyTT90N8fl7eTEa4&sensor=true")
  != js('main')