extends index

append movie-container
  #movie(data-id=movie.id)
    if movie.embed
      .video-container: iframe(src=movie.embed)
    else
       img(src=movie.img.path)
    .text
      h1= movie.title
      != movie.synopsis